
  <div class="container" ng-controller="dashboardCtrl">
    <div id="" class="row">

      <div id="image" class="pull-left col-md-3">
        <img src="assets/user_images/me.png" class="img-rounded profile-pic pull-right" alt="avatar"/>
      </div>

      <div id=" " class="col-md-6">
        <div ng-controller="myMateCtrl">
          <div ng-repeat="myMates in matesData.list">
            <my-mate my-mate-id="{{ myMates.id }}"></my-mate>
          </div>
        </div>
      </div>

    </div>
  </div>