<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="dashboard.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div id = headerNavigation >

            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand white" href="#">PlacedBook</a>
                    </div>


                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">

                            </div>
                            <span class="glyphicon glyphicon-search"></span>
                            <!--<button type="submit" class="btn btn-default">Submit</button>-->
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="white"href="#">Companies</a></li>
                            <li><a class="white"href="#">Profile</a></li>
                            <li><a class="white"href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
   </div><!-- /.container-fluid -->




<div class="container">
      <div id="upperLayout" class="row">
        <div id="image" class="pull-left col-md-3" >
            <img src="..\..\assets\user_images\me.png" class="img-thumbnail profile-pic pull-right" alt="avatar"/>
        </div>


        <div id="userDetails" class="pull-left col-md-6 ">
            <h2 class="reduce-buffer-top">Vishal Gupta</h2>
            <div class="pull-left">
                <span class="pull-left glyphicon glyphicon-briefcase"></span>
                <span class="pull-left text">Designation at Company</span>
                <span class="pull-left glyphicon glyphicon-map-marker"></span>
                <span class="pull-left text">City, State, Country</span>
             </div>

            <div>
                <table class="table table-condensed buffer-top-50 custom-table borderless" >
                    <tr>
                        <td>Skill Type:</td>
                        <td>Skill</td>
                    </tr>
                    <tr>
                        <td>Skill Type:</td>
                        <td>Skill</td>
                    </tr>
                    <tr>
                        <td>Skill Type:</td>
                        <td>Skill</td>
                    </tr>
                </table>
              </div>
        </div>

        <div class="pull-left col-md-3">
            <!--<div class="pull-right buffer-editProfile-button">-->
                <!--<button type="button" class="btn btn-primary">Edit Profile</button>-->
            <!--</div>-->
            <div class="panel panel-success buffer-top-20 clear-both">
                <div class="panel-heading">Profile Completeness</div>
                <div class="panel-body">
                    <div class="progress ">
                        <div class="progress-bar progress-bar-success" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <a href="http://www.hackerearth.com/users/vshlgupta1992/">Complete Profile</a>
                </div>
            </div>
        </div>
    </div>

    <div id="lowerLayout" class="row">
        <hl></hl>
        <div class="pull-left col-md-3" >
                <!--<div >-->
                    <!--<table class="table">-->
                        <!--<tr>-->
                            <!--<td>Followers</td>-->
                            <!--<td>0</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Following</td>-->
                            <!--<td>2</td>-->
                        <!--</tr>-->
                    <!--</table>-->

                <!--</div>-->
            <div class="panel panel-primary buffer-top-20 clear-both">

                <div class="panel-body">

                    <table class="table borderless">
                        <tr>
                            <td>Followers</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Following</td>
                            <td>2</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Social Links</div>
                <div class="panel-body">

                            <span>FB link</span>

                </div>
            </div>
            <div class="panel panel-primary ">
                <div class="panel-heading">Share your profile</div>
                <div class="panel-body">
                            <span >Put All Social icons here</span>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Profile Link</div>
                <div class="panel-body">



                     <a href="http://www.hackerearth.com/users/vshlgupta1992/">PBook PRofile link</a>


                </div>
            </div>

        </div>

        <div class="pull-left col-md-6" >
                <div class="panel panel-primary buffer-top-20">
                    <div class="panel-body">
                        <div class="media">
                            <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                                <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Vishal Gupta</h4>
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
                            <img src="..\..\assets\user_images\me.png" alt="small-avatar" class="image-small-avatar">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vishal Gupta</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="pull-left col-md-3" >
            <div class="panel panel-primary buffer-top-20">
                <div class="panel-heading">Advertisements</div>
                <div class="panel-body">
                   <table class="table">
                       <tbody>
                       <tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr>
                       <tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr>
                       <tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr>
                       <tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr>
                       <tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>
                       </tr><tr>
                           <td>
                               Advertisement 1
                           </td>







                       </tbody>
                   </table>
                </div>
            </div>
        </div>

    </div>


</div>

</body>
</html>