<div class="pull-left col-md-6">
  <div class="panel panel-primary buffer-top-20">
    <div class="panel-body">
      <div class="media">
        <a class="media-left media-left" href="http://www.hackerearth.com/users/vshlgupta1992/">
          <img src="assets/user_images/me.png" alt="small-avatar" class="image-small-avatar">
        </a>

        <div class="media-body">
          <h2 class="reduce-buffer-top">{{userName}}</h2>

          <div class="pull-left">
            <span class="pull-left glyphicon glyphicon-briefcase"></span>
            <span class="pull-left text">Designation at {{myMateCompany}}</span>
            <span class="pull-left glyphicon glyphicon-map-marker"></span>
            <span class="pull-left text">City, State, Country</span>
          </div>

          <div>
            <table class="table table-condensed buffer-top-20 custom-table borderless">
              <tr>
                <td>Skill Type:</td>
                <td>Skill</td>
              </tr>
              <tr>
                <td>Skill Type:</td>
                <td>Skill</td>
              </tr>
              <tr>
                <td>Skill Type:</td>
                <td>Skill</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>